@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Oddval SemiBold';
    src:
            url('./assets/fonts/Oddval-SemiBold.woff') format('woff'),
            url('./assets/fonts/Oddval-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*ALL*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    outline: none;
}

body {
    width: 100vw;
    height: fit-content;

    position: relative;

    transition: none;

    overflow-x: hidden;
}

img {
    cursor: pointer;
}