<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#FFFFFF">
    <title>Успешно</title>
    <link type="text/css" rel="stylesheet" href="../../style.css" />
    <link type="text/css" rel="stylesheet" href="./StatusModal.css" />
</head>
<body>
<!--STATUS MODAL COMPONENT (SUCCESS)-->
<div class="status__modal__container">
    <div class="status__image__container success">
        <img class="status__image" src="../../assets/success.svg" alt="Статус" />
    </div>
    <div class="modal__content">
        <p class="status__heading">Вход выполнен</p>
        <p class="status__info">Доступ к приложению открыт</p>
    </div>
    <div class="modal__button">
        <button class="ok__button">Закрыть</button>
    </div>
</div>
<!--STATUS MODAL COMPONENT (ERROR)-->
<div class="status__modal__container">
    <div class="status__image__container error">
        <img class="status__image" src="../../assets/error.svg" alt="Статус" />
    </div>
    <div class="modal__content">
        <p class="status__heading">Вход не выполнен</p>
        <p class="status__info">Пользователя с такими данными не существует</p>
    </div>
    <!--LINK TO HOME-->
    <a href="../../index.html">
        <div class="modal__button">
            <button class="ok__button">Закрыть</button>
        </div>
    </a>
</div>
</body>
</html>