<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="theme-color" content="#CCD2DB">
    <title>Подтверждение</title>
    <link type="text/css" rel="stylesheet" href="../../style.css" />
    <link type="text/css" rel="stylesheet" href="./AgreeModal.css" />
    <link type="text/css" rel="stylesheet" href="../StatusModal/StatusModal.css" />
</head>
<body>
<!--AGREE MODAL COMPONENT (SUCCESS)-->
<!--<div class="status__modal__container">
    <div class="status__image__container success">
        <img class="status__image" src="../../assets/success.svg" alt="Статус" />
    </div>
    <div class="modal__content">
        <p class="status__heading">Подтверждение</p>
        <p class="status__info">Вы действительно хотите добавить новое животное?</p>
    </div>
    <div class="modal__button">
        <button class="ok__button green">Добавить</button>
    </div>
    <div class="modal__button">
        <button class="ok__button">Не добавлять</button>
    </div>
</div>-->
<!--AGREE MODAL COMPONENT (ERROR)-->
<div class="status__modal__container">
    <div class="status__image__container error">
        <img class="status__image" src="../../assets/error.svg" alt="Статус" />
    </div>
    <div class="modal__content">
        <p class="status__heading">Отклонено</p>
        <p class="status__info">Убедитесь в правильности введенных данных и попробуйте еще раз</p>
    </div>
    <!--LINK TO FORM-->
    <a href="../AddData/AddData.html">
        <div class="modal__button">
            <button class="ok__button red">Заново</button>
        </div>
    </a>
    <!--LINK TO HOME-->
    <a href="../../index.html">
        <div class="modal__button">
            <button class="ok__button">Выйти</button>
        </div>
    </a>
</div>
</body>
</html>